.chat-message {
  margin-bottom: 20px;
  max-width: 380px;

  &:first-child {
    margin-top: auto;
  }

  &--received {
    position: relative;
    left: 40px;

    .chat-message__bubble {
      background: #F6F7F9;
      border-radius: 8px 8px 8px 0;
    }
  }

  &--sent {
    position: relative;
    left: calc(100% - 396px);

    .chat-message__bubble {
      background: #E9F5F4;
      border-radius: 8px 8px 0 8px;
    }
  }

  &__bubble {
    margin-bottom: 15px;
    padding: 21px 21px 16px 21px;
    line-height: 140%;
    font-size: 14px;
    color: #474E54;
  }

  &__info {
    display: flex;
    align-items: center;

    &-author {
      font-size: 13px;
      color: #000;
      padding-right: 13px;
    }

    &-date {
      font-size: 10px;
      color: $color-grey-3;
    }
  }
}
