.chat-dialog-wrap {
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.chat-dialog {
  height: calc(100vh - 80px);
  overflow: auto;
  width: 100%;
  position: relative;
  padding: 44px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: $color-grey-3;
    height: 100vh;
  }
}
